@font-face {
    font-family: "big_noodle_titling_oblique";
    src: url('../fonts/big_noodle_titling_oblique.woff') format('woff'),
         url('../fonts/big_noodle_titling_oblique.ttf')  format('truetype'); 
        }

/* Main element Modification */
body {
    background-image: url(../images/owbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}
h1 {
    font-family: 'big_noodle_titling_oblique', sans-serif;
    color: #ff9c00;
    /* font-size: 5vh; */
    margin: 0;
}
h2, h3, h4, h5, h6 {
    font-family: 'big_noodle_titling_oblique', sans-serif;
    color: #ff9c00;
    margin:0;
}

/* Headers */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}
.headerInfo {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    
}
.abilities {
    text-align: center;
}
.nav {
    padding: .5%;
    display: block;
    margin: 0;
    margin-top: 10%;
    vertical-align: super;
}
.nav li, .nav a {
    list-style-type: none;
    padding: .5vh;
    display: inline;
    font-family: 'big_noodle_titling_oblique', sans-serif;
    font-size: 3vh;
    color: #ff9c00;
}

/* Containers */
.main-container {
    width: 96%;
    height: 80%;
    margin: auto;
}
#statBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ff9c00;
    text-align: center;
    width:100%;

}
.games-played, .attempts, .accuracy {
    display: inline-block;
    /* height: 10vh;
    margin-bottom: 1vh; */
    font-family: 'big_noodle_titling_oblique', sans-serif;
}
.label {
    text-decoration: underline;
    margin: 0;
}
#game-area {
    width: 100%;
    height: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1vmin;
    position: relative;
}

/* Card Control */
.card {
    background-color:  rgb(27, 25, 25);
    position: relative;
    box-shadow: 0px 0px 3px 2px grey;
    overflow: hidden;
    cursor: pointer;
}
.front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
    user-select: none
}
.front {
    background-image: url(../images/cardfrontbg.jpg);
    background-size: cover;
    user-select: none
}
.back {
    background-image: url(../images/owlogo.png), url(../images/backdrop.jpg);
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: center, left;
    user-select: none
}
.front img, .back img {
    max-height: 100%;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    user-select: none
}
.reveal .back{
    /* display: none; */
    user-select: none;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.matched .back {
    /* display: none; */
    user-select: none;
    pointer-events: none;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.viewing {
    pointer-events: none;
    user-select: none
}
/* Modals */
.modal{
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.92);
    cursor: pointer;
}
.hideModal{
    display: none;
}
.showModal{
    display: flex;
}

/* Splash Modal */
#splashModal {
    display: flex;
}
#splashModal p {
    position: relative; 
    font-family: 'big_noodle_titling_oblique', sans-serif;
    color: #ff9c00;
    font-size: 12vmin;
    text-align: center;
    margin: 0;
}
/* Settings Modal */
#settingsModal p, li {
    position: relative; 
    font-family: 'big_noodle_titling_oblique', sans-serif;
    color: #ff9c00;
    font-size: 12vmin;
    text-align: center;
    margin: 0;
}
#settingsModal li {
    list-style-type: none;
    font-size: 8vmin;
}

/* Win Modal */
#winModal p {
    position: absolute; 
    margin: auto;
    font-family: 'big_noodle_titling_oblique', sans-serif;
    color: #ff9c00;
    font-size: 15vh;
    text-shadow: 4px 4px 5px black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
#winModal img {
    position: relative; 
    max-height: 600px;
    max-width: 600px;
    margin: auto;
}


/* Buttons */
.playPause {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 10%;
}
.reset {
    max-width: 20%;
    display: inline-block;
    font-family: 'big_noodle_titling_oblique', sans-serif;
    cursor: pointer;
}
.cursor {
    cursor: pointer;
}

/* Animation */
@keyframes fade-in {
  0% {
    opacity: 1;
    transform:
      perspective(500px)
      rotateX(-15deg)
      translateZ(50px);
  }

  100% {
    opacity: 0;
    transform: none;
    display: none;

  }
}
@keyframes border-flicker {
    0% {
        opacity: 0.95;
        -webkit-box-shadow: 0px 0px 8px 1px rgba(255, 156, 0,0.95);
        -moz-box-shadow: 0px 0px 8px 1px rgba(255, 156, 0,0.95);
        box-shadow: 0px 0px 8px 1px rgba(255, 156, 0,0.95);
    }
    20% {
        opacity:1;
        -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 156, 0,1);
        -moz-box-shadow: 0px 0px 3px 1px rgba(255, 156, 0,1);
        box-shadow: 0px 0px 3px 1px rgba(255, 156, 0,1);
    }
    34% {
        opacity:0.95;
        -webkit-box-shadow: 0px 0px 8px 1px rgba(255, 156, 0,0.95);
        -moz-box-shadow: 0px 0px 8px 1px rgba(255, 156, 0,0.95);
        box-shadow: 0px 0px 8px 1px rgba(255, 156, 0,0.95);
    }
    
    58% {
        opacity:1;
        -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 156, 0,1);
        -moz-box-shadow: 0px 0px 3px 1px rgba(255, 156, 0,1);
        box-shadow: 0px 0px 3px 1px rgba(255, 156, 0,1);
    }
    70% {
        opacity:0.98;
        -webkit-box-shadow: 0px 0px 8px 1px rgba(255, 156, 0, 0.98);
        -moz-box-shadow: 0px 0px 8px 1px rgba(255, 156, 0, 0.98);
        box-shadow: 0px 0px 8px 1px rgba(255, 156, 0, 0.98);
    }
    100% {
        opacity:1;
        -webkit-box-shadow: 0px 0px 3px 1px rgba(255, 156, 0,1);
        -moz-box-shadow: 0px 0px 3px 1px rgba(255, 156, 0,1);
        box-shadow: 0px 0px 3px 1px rgba(255, 156, 0,1);
    }
  }
@keyframes fadeCard {
from {
    opacity: 1;
}

to {
    opacity: 0;
}
}





/* Power Classes */
.mei {
    background-image: url('../images/ice.png');
    background-position: center;
    background-size: cover;
}
.revealMei .back{
    background-image: url('../images/ice.png');
    opacity: .85;
    background-position: center;
    background-size: cover;
    user-select: none;
    pointer-events: none;
}
.deIce .back{
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    pointer-events: none;
}
.revealGenji .back{
    background-image: url('../images/owcardbg-slash.png');
    background-position: center;
    background-size: cover;
    /* animation: border-flicker 2s linear infinite; */
}
.revealBastion .back{
    background-image: url('../images/owcardbg-bullet.png');
    background-position: center;
    background-size: cover;
    /* animation: border-flicker 2s linear infinite; */
}
.flicker {
    background-image: url(../images/clear.png);
    animation: border-flicker 5s ease-in-out infinite;
}

@media screen and (max-width: 450px), screen and (max-height: 450px) {
    #statBar h3 {
        font-size: .75em;
    }
    .label {
        font-size: .75em; 
    }
    .playPause i {
        font-size: .75em;
    }
}